<div class="container">
<h1><%=title%></h1>
<textarea id="postContent"><%=content%></textarea>
<p>Written by: <%= writtenBy.name %>  </p>
<p>Status: <%=status%></p>
<p><%=date()%></p>
<% if(currentUser) {%>
    <a href="/update/<%= _id %>">Update </a>
    <a href="/remove/<%= _id %>">Delete</a>
<% } %>
</div>